<%= render "layouts/navbar_light" %>

<div class="container" style="margin-top:150px; margin-bottom:100px;">
  <div class="row">
  	<% if @cart.reservations.size >0 %>
			<%= render "layouts/cart_index_order_card", total_price: @total_price %>
			<% else %>
			<p>Tu n'as rien dans ton panier, <%= link_to "continue ton shopping", root_path%></p>
			<%end%>



  </div>
</div>

<div class="container" style="margin-bottom:100px;">
  <div class="row">
  	<%@reservations.each do |reservation|%>
		<%= render "layouts/cart_index_properties", reservation: reservation %>
	<%end%>
  </div>
</div>


<%= render "layouts/footer" %>