<%=render 'layouts/navbar'%>

<div class="container" style="margin-top:150px; margin-bottom:100px;">
  <div class="row">
	<%=render 'layouts/order_index'%>
	<%=render 'layouts/order_index'%>
	<%=render 'layouts/order_index'%>
	<%=render 'layouts/order_index'%>
	<%=render 'layouts/order_index'%>
  </div>
</div>

  <%=render 'layouts/footer'%>
