<%= render "layouts/navbar" %>



<div class="image image-overlay image-scrolling" style="background-image:url(<%=asset_path('sofa.jpg')%>);     max-height: 750px;"
  data--100-bottom-top="transform: translateY(0%);" 
  data-top-bottom="transform: translateY(25%);">
</div>


<div class="component-example">
            <div class="container" style="margin-top: 250px;">
              <div class="row">
                <div class="col-md-6">
                  <figure class="photo">
                    <a class="lightbox" href="<%=asset_path('sofa.jpg')%>" title="Image title">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </a>
                  </figure>
                </div>
                <div class="col-md-6">
                  <figure class="photo">
                    <a class="lightbox" href="<%=asset_path('sofa.jpg')%>" title="Image title">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </a>
                  </figure>
                </div>
              </div>

              <div class="col-md-12 col-lg-12">
                  <div class="card text-center">
                    <div class="card-header">
                      Superbe T3
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">1 200 €/mois</h5>
                      <h5 class="card-title">3 pièces</h5>
                      <h5 class="card-title">90 m2</h5>
                      <h5 class="card-title">2 chambres</h5>
                      <p class="card-text">Superbe appartement avec vue sur le Sacré-Coeur. Parfait pour les colocations.</p>
                      <a href="#" class="btn btn-primary">Postuler</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
			           </div>
            </div>
</div>


<div class="container">
              <div class="row">
                <div class="col">
                  <div class="owl-carousel owl-loaded owl-drag" data-items="[3,2]" data-margin="10" data-dots="true" data-nav="true">
                    
                    
                    
                    
                  <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-383px, 0px, 0px); transition: all 0.25s ease 0s; width: 1534px;"><div class="owl-item" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
                      <img src="<%=asset_path('sofa.jpg')%>" alt="Image">
                    </figure></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next disabled"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
                </div>
              </div>
</div>








<%= render "layouts/steps" %>

<%= render "layouts/footer" %>