<div class="tab-pane active show" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>

          <%= form_tag user_path(user), method: :PATCH do %>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <%= text_field_tag :first_name,'', class:"form-control", placeholder: user.first_name %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="firstName">Last Name</label>
                  <%= text_field_tag :last_name,'', class:"form-control", placeholder: user.last_name %>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="firstName">Email Address</label>
                  <%= text_field_tag :email,'', class:"form-control", placeholder: user.email %>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="firstName">Password</label>
                  <%= password_field_tag :password,'', class:"form-control", placeholder:'New password' %>
                </div>
              </div>
            </div>

            <%= submit_tag 'Save changes', class:"btn btn-orange"%>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
